---
http_interactions:
- request:
    method: post
    uri: http://api.sandbox.traycheckout.com.br//v1/tmp_transactions/create
    body:
      encoding: US-ASCII
      string: postal_code_seller=18523698&token_account=8bfe5ddcb77207b&transaction%5Bfree%5D=Texto+Interno&transaction%5Border_number%5D=1234567&transaction%5Burl_notification%5D=http%3A%2F%2Fprodis.blog.br%2Ftray_notification&transaction_product%5B%5D%5Bcode%5D=teste&transaction_product%5B%5D%5Bdescription%5D=Notebook+Branco&transaction_product%5B%5D%5Bprice_unit%5D=2199.99&transaction_product%5B%5D%5Bquantity%5D=1&transaction_product%5B%5D%5Burl_img%5D=http%3A%2F%2Fcatnross.com%2Fwp-content%2Fuploads%2F2011%2F08%2Fproduct1.jpg&transaction_product%5B%5D%5Bweight%5D=300
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"29c4801c906d659067301dcab636c8ff"'
    body:
      encoding: US-ASCII
      string: ! "<tmp_transaction>\n  <message_response>\n    <message>success</message>\n
        \ </message_response>\n  <data_response>\n    <token_transaction>31d7b7f786b6aa5749e8358374b7068f</token_transaction>\n
        \   <url_car>http://checkout.sandbox.tray.com.br/payment/car/v1/</url_car>\n
        \   <transaction_products type=\"array\">\n      <transaction_product>\n        <code>teste</code>\n
        \       <img>http://catnross.com/wp-content/uploads/2011/08/product1.jpg</img>\n
        \       <sku_code nil=\"true\"/>\n        <description>Notebook Branco</description>\n
        \       <extra nil=\"true\"/>\n        <price_unit type=\"decimal\">2199.99</price_unit>\n
        \       <quantity type=\"decimal\">1.0</quantity>\n        <weight type=\"decimal\">300.0</weight>\n
        \       <id type=\"integer\">4526</id>\n        <type_product nil=\"true\"/>\n
        \     </transaction_product>\n    </transaction_products>\n  </data_response>\n</tmp_transaction>\n"
  recorded_at: Mon, 21 Oct 2013 19:19:29 GMT
recorded_with: VCR 2.6.0
